@use '../abstract/_variables';

// Banner component

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .home-banner-img,
    .about-banner-img {
        height: 223px;
        position: relative;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        filter: brightness(110%);
    }
    .home-banner-img {
        @media #{variables.$large-down} {
            height: 160px;
        }
        @media #{variables.$medium-down} {
            height: 110px;
            border-radius: 10px;
        }
    }

    .about-banner-img {
        @media #{variables.$medium-down} {
            border-radius: 10px;
        }
    }

    .text-banner {
        color: variables.$clr-primary;
        position: absolute;
        font-weight: 500;
        font-size: 48px;
        padding: 0 1.5rem;
        filter: brightness(200%);
        @media #{variables.$large-down} {
            font-size: 32px;
        }
        @media #{variables.$medium-down} {
            font-size: 24px;
        }
        @media #{variables.$small-down} {
            display: flex;
            flex-direction: column;
        }
    }
}
