@use '../abstract/_variables';
@use '../abstract/_mixins';

.card {
    height: 340px;
    position: relative;
    border-radius: 20px;
    background-color: variables.$clr-secondary;
    @media #{variables.$medium-down} {
        height: 300px;
    }

    .card-img {
        width: 100%;
        height: 340px;
        object-position: center;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(90%);
        transition: ease-out 100ms;
        @media #{variables.$medium-down} {
            height: 300px;
        }
        &:hover {
            opacity: 0.9;
            filter: brightness(95%);
            @include mixins.card-shadow;
        }
    }

    .card-title {
        position: absolute;
        border-radius: 20px;
        padding: 5px;
        bottom: 10px;
        left: 10px;
        margin: auto 0 auto;
        font-size: 20px;
        font-weight: 600;
        color: variables.$clr-primary;
        filter: brightness(140%);
    }
}
