@use '../abstract/_variables';
@use '../abstract/_mixins';

// Card component

.card {
    height: 340px;
    position: relative;
    border-radius: 20px;
    @media #{variables.$medium-down} {
        height: 300px;
    }
    @media #{variables.$small-down} {
        height: 255px;
    }

    .card-img {
        width: 100%;
        height: 340px;
        object-position: center;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(90%);

        @media #{variables.$medium-down} {
            height: 300px;
        }
        @media #{variables.$small-down} {
            height: 255px;
        }
        &:hover {
            transform: scale(1.01);
            transition: ease-out 200ms;
            filter: brightness(100%);
            @include mixins.card-shadow;
        }
    }

    .card-title {
        position: absolute;
        border-radius: 20px;
        padding: 5px;
        bottom: 10px;
        left: 10px;
        margin: auto 0 auto;
        font-size: 18px;
        font-weight: 600;
        color: variables.$clr-primary;
        filter: brightness(140%);
    }
}
