@use '../abstract/_variables';
@use '../abstract/_mixins';

.card {
    padding: 0;
    height: 180px;
    position: relative;
    border-radius: 15px;
    background-color: variables.$clr-secondary;
    @include mixins.card-shadow;
    @media #{variables.$small-up} {
        margin-bottom: 25px;
    }

    .card-img {
        width: 100%;
        height: 180px;
        object-position: center;
        object-fit: cover;
        border-radius: 15px;
        &:hover {
            opacity: 0.8;
        }
    }

    .card-title {
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin: auto 0 auto;
        font-size: 18px;
        font-weight: 500;
        color: variables.$clr-primary;
    }
}
