@use '../abstract/_variables';

/*  Dropdown component */

.drop-open {
    height: 100%;
}
.dropdown {
    background-color: variables.$clr-tertiary;
    border-radius: 10px;

    .drop-btn {
        background-color: variables.$clr-secondary;
        width: 100%;
        color: variables.$clr-tertiary;
        filter: contrast(110%);
        text-align: start;
        padding-left: 18px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        @media #{variables.$small-down} {
            padding-left: 10px;
        }

        .drop-icon {
            font-size: 32px;
            margin-right: 24px;
            @media #{variables.$small-down} {
                font-size: 18px;
                margin-right: 10px;
            }
        }
    }

    .drop-p {
        font-weight: 400;
        line-height: 26px;
        transform-origin: top center;
        animation: displayDrop 150ms ease;
    }
}

@keyframes displayDrop {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
