@use '../abstract/_variables';

/* Slider component */

.slider {
    position: relative;
    .slider-image {
        width: 100%;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;
        @media #{variables.$medium-down} {
            height: 320px;
        }
        @media #{variables.$small-down} {
            height: 255px;
            border-radius: 10px;
        }
    }
    .left-arrow {
        position: absolute;
        left: 20px;
        top: 175px;
        font-size: 79px;
        color: variables.$clr-primary;
        z-index: 10;
        cursor: pointer;
        &:hover {
            color: variables.$clr-secondary;
            transition: ease-out 150ms;
        }
        @media #{variables.$medium-down} {
            top: 135px;
            font-size: 60px;
        }
        @media #{variables.$small-down} {
            top: 120px;
            font-size: 20px;
            left: 8px;
        }
    }
    .rigth-arrow {
        position: absolute;
        right: 5px;
        top: 175px;
        font-size: 79px;
        color: variables.$clr-primary;
        z-index: 10;
        cursor: pointer;
        &:hover {
            color: variables.$clr-secondary;
            transition: ease-out 150ms;
        }
        @media #{variables.$medium-down} {
            top: 135px;
            font-size: 60px;
        }
        @media #{variables.$small-down} {
            top: 120px;
            font-size: 20px;
            right: 8px;
        }
    }
}

.counter {
    color: variables.$clr-primary;
    transform: translate(-50%, -50%);
    padding: 0 0 10px 0;
    margin: -20px 0 0 0;
    font-size: 20px;
    @media #{variables.$medium-down} {
        display: none;
    }
}

.slick-dots li.slick-active button:before {
    color: variables.$clr-secondary !important;
    filter: contrast(120%);
    @media #{variables.$medium-up} {
        font-size: 7px;
    }
}
