@use '../abstract/_variables';

.slider {
    position: relative;
    padding: 0 20px;

    .slider-image {
        //  max-width: 1024px;
        margin: auto;
        width: 100%;
        height: 415px;
        border-radius: 10px;
        object-fit: cover;
        filter: brightness(105%);
    }

    .left-arrow {
        position: absolute;
        top: 12rem;
        left: 1.5rem;
        font-size: 4rem;
        color: variables.$clr-primary;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        filter: contrast(120%);
        &:hover {
            color: variables.$clr-secondary;
            transition: ease-out 150ms;
        }
    }
    .rigth-arrow {
        position: absolute;
        top: 12rem;
        right: 1.5rem;
        font-size: 4rem;
        color: variables.$clr-primary;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        filter: contrast(120%);
        &:hover {
            color: variables.$clr-secondary;
            transition: ease-out 150ms;
        }
    }

    .slide-inactive {
        opacity: 0;
        transition-duration: 0.5s ease;
    }

    .slide-active {
        opacity: 1;
        transition-duration: 0.5s;
        transform: scale(1.05);
    }

    .slider-bullets-index {
        display: flex;
        position: absolute;
        bottom: 5px;
        left: 45%;
        right: 45%;
        gap: 5%;
        color: variables.$clr-primary;
        font-size: 18px;
        font-family: 'Montserrat';
        font-weight: 600;

        .slider-bullets {
            width: 35px;
            height: 5px;
            background-color: variables.$clr-primary;
            border-radius: 5px;
            filter: contrast(120%);
        }

        .slider-bullet-active {
            background-color: variables.$clr-secondary;
            filter: contrast(120%);
        }
    }
}
