@use '../abstract/_variables';

// Star component

.star {
    font-size: 30px;
    color: variables.$clr-star;
    @media #{variables.$small-down} {
        font-size: 15px;
    }
}

.star-active {
    font-size: 30px;
    @media #{variables.$small-down} {
        font-size: 15px;
    }
}
