@use '../abstract/_variables';

/*  Star component */

.star {
    padding: 0 2px;
    font-size: 30px;
    color: variables.$clr-star;
    @media #{variables.$small-down} {
        font-size: 18px;
    }
}

.star-active {
    padding: 0 2px;
    font-size: 30px;
    color: #{variables.$clr-secondary};
    @media #{variables.$small-down} {
        font-size: 18px;
    }
}
