@use '../abstract/_variables';

// Error page

.error-container {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem;
    .error-title {
        font-size: 288px;
        margin-bottom: 66px;
        @media #{variables.$large-down} {
            font-size: 200px;
            margin-bottom: 50px;
        }
        @media #{variables.$medium-down} {
            margin-bottom: 0;
        }
        @media #{variables.$small-down} {
            margin-top: 195px;
            font-size: 100px;
        }
    }

    .error-paragraph {
        margin-top: 169px;
        margin-bottom: 182px;
        font-size: 36px;
        font-weight: 500;
        line-height: 2rem;
        @media #{variables.$large-down} {
            font-size: 30px;
        }
        @media #{variables.$medium-down} {
            margin-top: 145px;
            font-size: 18px;
        }
        @media #{variables.$small-down} {
            margin-top: 19px;
            font-size: 18px;
            margin-bottom: 125px;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .error-link {
        color: inherit;
        text-decoration: underline;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 159px;
        @media #{variables.$small-down} {
            font-size: 14px;
        }
    }
}
