.error-container {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .error-title {
        font-size: 288px;
        font-weight: 700;
    }

    .error-paragraph {
        font-size: 36px;
        font-weight: 500;
    }

    .error-link {
        color: inherit;
        text-decoration: underline;
        font-size: 18px;
        font-weight: 500;
    }
}
