@use '../abstract/_variables';

.cards-container {
    padding: 50px 20px 10%;
    background-color: variables.$clr-tertiary;

    @media #{variables.$small-up} {
        margin: 50px 20px 50px;
        border-radius: 20px;
    }
    @media #{variables.$xlscreen-up} {
        margin: 50px;
    }
}

.cards {
    @media #{variables.$medium-up} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px 35%;
        column-gap: 5%;
        row-gap: 1%;
    }
    @media #{variables.$large-up} {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 20px 10%;
    }
    @media #{variables.$xlscreen-up} {
        padding: 2% 4%;
    }
}
