@use '../abstract/_variables';

.cards-container {
    padding: 30px 20px 40px;
    background-color: variables.$clr-tertiary;
    flex-basis: 50%;
    @media #{variables.$small-up} {
        margin: 50px 20px 50px;
        border-radius: 20px;
    }
    @media #{variables.$xlscreen-up} {
        margin: 50px;
    }
}

.cards {
    @media #{variables.$medium-up} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
        column-gap: 4%;
    }
    @media #{variables.$large-up} {
        grid-template-columns: repeat(3, 1fr);
    }
    @media #{variables.$xlscreen-up} {
        padding: 2% 4%;
    }
}
