@use '../abstract/_variables';

.cards-container {
    padding: 3rem;
    background-color: variables.$clr-tertiary;
    border-radius: 25px;
    margin: 2rem 1rem;
    @media #{variables.$medium-down} {
        padding: 1rem;
        margin: 0;
        border-radius: 0;
        background-color: variables.$clr-primary;
    }
}

.cards {
    display: grid;
    gap: 3rem;
    @media #{variables.$medium-down} {
        margin: 10px 0;
        gap: 2rem;
    }
    @media #{variables.$medium-up} {
        grid-template-columns: repeat(2, 1fr);
    }
    @media #{variables.$large-up} {
        grid-template-columns: repeat(3, 1fr);
    }
}
