@use '../abstract/_variables';

.rental-infos {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .rental-infos-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .rental-infos-title {
            padding-bottom: 15px;
            padding-right: 15px;
        }
        .rental-infos-location {
            font-size: 25px;
        }
    }
    .rental-infos-left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .name-image-infos {
            display: flex;
            align-items: center;
            .name-infos {
                padding-right: 15px;
                text-align: end;
            }
            .image-infos {
                border-radius: 50%;
            }
        }
    }
}

.star-container {
    padding-top: 15px;
}

.drop-rental-container {
    display: flex;
    gap: 60px;
    .drop-rental {
        width: 50%;
    }
}
