@use '../abstract/_variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
    max-width: 1240px;
    @media #{variables.$medium-down} {
        padding: 0 1rem;
    }

    .header-img {
        height: 68px;
        @media #{variables.$medium-down} {
            height: 47px;
        }
    }
    .nav {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        @media #{variables.$medium-down} {
            gap: 1rem;
        }
    }

    .nav a {
        color: inherit;
        font-weight: 500;
        font-size: 24px;
        filter: contrast(110%);
        @media #{variables.$medium-down} {
            font-size: 18px;
        }
    }

    .nav a:hover,
    .nav a:active,
    .nav a.active {
        text-decoration: underline;
    }
}
