@use '../abstract/_variables';

/* Header navigation element */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px 0;
    margin: 0 auto auto;
    max-width: 1280px;
    @media #{variables.$medium-down} {
        padding: 0 20px;
    }

    .header-img {
        height: 68px;
        @media #{variables.$medium-down} {
            height: 47px;
            margin-right: 10px;
        }
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        gap: 4rem;
        @media #{variables.$medium-down} {
            gap: 2.5rem;
        }
        @media #{variables.$small-down} {
            gap: 1rem;
            flex-wrap: wrap;
        }
    }

    .nav a {
        color: inherit;
        font-weight: 500;
        font-size: 24px;
        filter: contrast(110%);
        @media #{variables.$medium-down} {
            font-size: 18px;
        }
        @media #{variables.$small-down} {
            font-size: 12px;
        }
    }

    .nav a:hover,
    .nav a:active,
    .nav a.active {
        text-decoration: underline;
    }
}
