.header {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1440px;

    .header-img {
        height: 68px;
        width: 210px;
    }

    .nav a {
        padding-left: 3rem;
        color: inherit;
        font-weight: 500;
        font-size: 24px;
        filter: contrast(110%);
    }

    .nav a:hover,
    .nav a:active,
    .nav a.active {
        text-decoration: underline;
    }
}
