.banner {
    border-radius: 50px;
}

.rentalInfos {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.rentalInfosLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nameImageInfos {
    display: flex;
    align-items: center;
}

.nameInfos {
    padding-right: 15px;
    text-align: end;
}

.imageInfos {
    border-radius: 50%;
}

.starContainer {
    padding-top: 15px;
}

.star {
    font-size: 28px;
    color: var(--clr-star);
}

.starActive {
    font-size: 28px;
}

.titleInfos {
    padding-bottom: 15px;
    padding-right: 15px;
}

.tagInfos {
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    padding: 2px 6px;
    border-radius: 25px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

.rentalInfosRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdownContainer {
    display: flex;
    gap: 60px;
}

.dropRentalDetailsPage {
    width: 50%;
}
