.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  margin: auto;
}

.imageBanner {
  height: 223px;
  position: relative;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.textBanner {
  color: var(--clr-primary);
  position: absolute;
  font-weight: 500;
  font-size: 48px;
  padding: 0 1rem;
}
