.cardContainer {
  padding: 56px 50px;
  background-color: var(--clr-tertiary);
  margin: 43px auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5%;
  max-width: 1240px;
}
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    var(--clr-secondary) 60%,
    rgba(0, 0, 0, 0.9) 140%
  );
  height: 18em;
  width: 18em;
  margin-bottom: 15%;
  border-radius: 10px;
}

.cardImg {
  max-height: 11em;
  min-height: 11em;
  border-radius: 10px 10px 0 0;
}

.cardTitle {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--clr-primary);
}
