.cardContainer {
  padding: 1em;
  background-color: var(--clr-tertiary);
  margin: 1em;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-secondary);
  height: 120px;
  width: 120px;
  border-radius: 10px;
}
.cardTitle {
  font-size: 12px;
  color: var(--clr-primary);
}
