.header {
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1440px;
}

.headerImg {
  height: 68px;
  width: 210px;
}

.nav a {
  padding-left: 57px;
  color: inherit;
  font-weight: 500;
  font-size: 24px;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  text-decoration: underline;
}
